<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxj.thymeleafDemo.mapper.AccountMapper">

    <resultMap id="BaseResultMap" type="com.lxj.thymeleaf.demo.domain.Account">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="registerDate" column="register_date" jdbcType="TIMESTAMP"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account,password,register_date,phone,email
    </sql>
</mapper>
